{% if page_obj %}
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1&q={{ request.GET.q.strip }}">
                    <i class="fa-solid fa-backward-fast custom-icon-arrow"></i>
                </a>
                <a href="?page={{ page_obj.previous_page_number }}&q={{ request.GET.q.strip }}">
                    <i class="fa-solid fa-circle-chevron-left custom-icon-arrow"></i>
                </a>
            {% endif %}

            <span class="current">
                {{ page_obj.number }}/{{ page_obj.paginator.num_pages }}
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}&q={{ request.GET.q.strip }}">
                    <i class="fa-solid fa-circle-chevron-right custom-icon-arrow"></i>
                </a>
                <a href="?page={{ page_obj.paginator.num_pages }}&q={{ request.GET.q.strip }}">
                    <i class="fa-solid fa-forward-fast custom-icon-arrow"></i>
                </a>
            {% endif %}
        </span>
    </div>
{% endif %}