{% extends "global/base.html" %}

{% block content %}
    <div class="form-wrapper">
        <h1 class="center">Login</h1>
        {% include "global/partials/_messages.html" %}

        {% if user.is_authenticated %}
            <p class="center">
                You are logged in with {{ user.username }}. 
                Click <a href="{% url "contact:logout" %}">here</a> to logout.
            </p>
        {% else %}
            {% include "contact/partials/_user-form.html" %}    
        {% endif %}

    </div>
{% endblock content %}